body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新增任务_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:221px;
    top:95px;
    width:764px;
    height:39px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:770px;
    height:45px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:760px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新增任务_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:221px;
    top:135px;
    width:764px;
    height:1243px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:770px;
    height:1249px;
}

.u3 {
    position:absolute;
    left:2px;
    top:614px;
    width:760px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:245px;
    top:144px;
    width:724px;
    height:1185px
}

.u5_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:201px;
    top:0px;
    width:518px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:40px;
    width:201px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:201px;
    top:40px;
    width:518px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:80px;
    width:201px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:201px;
    top:80px;
    width:518px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:120px;
    width:201px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:201px;
    top:120px;
    width:518px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../新增任务_1_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:160px;
    width:201px;
    height:118px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:124px;
}

.u22 {
    position:absolute;
    left:2px;
    top:101px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../新增任务_1_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:201px;
    top:160px;
    width:518px;
    height:118px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:124px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:278px;
    width:201px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u27_container {
    position:absolute;
    left:201px;
    top:278px;
    width:518px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:318px;
    width:201px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:201px;
    top:318px;
    width:518px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../新增任务_1_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:358px;
    width:201px;
    height:119px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:125px;
}

.u34 {
    position:absolute;
    left:2px;
    top:102px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../新增任务_1_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:201px;
    top:358px;
    width:518px;
    height:119px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:125px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:477px;
    width:201px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u39_container {
    position:absolute;
    left:201px;
    top:477px;
    width:518px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:517px;
    width:201px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:201px;
    top:517px;
    width:518px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../新增任务_1_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:557px;
    width:201px;
    height:76px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:82px;
}

.u46 {
    position:absolute;
    left:2px;
    top:59px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../新增任务_1_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:201px;
    top:557px;
    width:518px;
    height:76px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:82px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../新增任务_1_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:633px;
    width:201px;
    height:116px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:122px;
}

.u50 {
    position:absolute;
    left:2px;
    top:99px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../新增任务_1_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:201px;
    top:633px;
    width:518px;
    height:116px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:122px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../新增任务_1_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:749px;
    width:201px;
    height:81px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:87px;
}

.u54 {
    position:absolute;
    left:2px;
    top:64px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../新增任务_1_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:201px;
    top:749px;
    width:518px;
    height:81px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:87px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../新增任务_1_files/u33_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:830px;
    width:201px;
    height:119px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:125px;
}

.u58 {
    position:absolute;
    left:2px;
    top:102px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../新增任务_1_files/u35_normal.png');
}

.u59_container {
    position:absolute;
    left:201px;
    top:830px;
    width:518px;
    height:119px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:125px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../新增任务_1_files/u5_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:949px;
    width:201px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:23px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../新增任务_1_files/u7_normal.png');
}

.u63_container {
    position:absolute;
    left:201px;
    top:949px;
    width:518px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../新增任务_1_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:989px;
    width:201px;
    height:128px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:134px;
}

.u66 {
    position:absolute;
    left:2px;
    top:111px;
    width:197px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../新增任务_1_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:201px;
    top:989px;
    width:518px;
    height:128px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:134px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../新增任务_1_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:1117px;
    width:201px;
    height:63px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:69px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../新增任务_1_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:201px;
    top:1117px;
    width:518px;
    height:63px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:69px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:456px;
    top:156px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:456px;
    top:197px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:16px;
    top:0px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:16px;
    top:0px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:16px;
    top:0px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:458px;
    top:321px;
    width:282px;
    height:99px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:458px;
    top:433px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:16px;
    top:0px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:16px;
    top:0px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:16px;
    top:0px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:458px;
    top:517px;
    width:282px;
    height:99px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:456px;
    top:632px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:456px;
    top:711px;
    width:282px;
    height:62px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:456px;
    top:790px;
    width:282px;
    height:99px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:456px;
    top:903px;
    width:282px;
    height:62px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:458px;
    top:986px;
    width:282px;
    height:99px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:456px;
    top:1104px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:457px;
    top:1146px;
    width:282px;
    height:111px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:456px;
    top:672px;
    width:284px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:16px;
    top:0px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:16px;
    top:0px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../新增任务_1_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:25px;
    top:0px;
    width:960px;
    height:76px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:82px;
}

.u103 {
    position:absolute;
    left:2px;
    top:30px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:40px;
    top:4px;
    width:68px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:114px;
    top:13px;
    width:196px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:116px;
    top:39px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../新增任务_1_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:25px;
    top:97px;
    width:178px;
    height:199px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:205px;
}

.u108 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../新增任务_1_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:25px;
    top:98px;
    width:178px;
    height:39px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u110 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:27px;
    top:146px;
    width:179px;
    height:125px
}

.u112_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u113 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:0px;
    top:40px;
    width:174px;
    height:40px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u115 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:0px;
    top:80px;
    width:174px;
    height:40px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u117 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../新增任务_1_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:25px;
    top:314px;
    width:178px;
    height:222px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:228px;
}

.u119 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../新增任务_1_files/u109_normal.png');
}

.u120_container {
    position:absolute;
    left:25px;
    top:315px;
    width:178px;
    height:39px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u121 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u122 {
    position:absolute;
    left:27px;
    top:363px;
    width:179px;
    height:165px
}

.u123_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u123_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u124 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:0px;
    top:40px;
    width:174px;
    height:40px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u126 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../新增任务_1_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:80px;
    width:174px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u128 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../新增任务_1_files/u127_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:120px;
    width:174px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u130 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../新增任务_1_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:25px;
    top:556px;
    width:178px;
    height:105px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:111px;
}

.u132 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../新增任务_1_files/u109_normal.png');
}

.u133_container {
    position:absolute;
    left:25px;
    top:557px;
    width:178px;
    height:39px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u134 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:27px;
    top:605px;
    width:179px;
    height:45px
}

.u136_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u136_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u137 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../新增任务_1_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:25px;
    top:671px;
    width:178px;
    height:201px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:207px;
}

.u139 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../新增任务_1_files/u109_normal.png');
}

.u140_container {
    position:absolute;
    left:25px;
    top:672px;
    width:178px;
    height:39px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u141 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u142 {
    position:absolute;
    left:27px;
    top:720px;
    width:179px;
    height:125px
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u144 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u145_container {
    position:absolute;
    left:0px;
    top:40px;
    width:174px;
    height:40px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u146 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u147_container {
    position:absolute;
    left:0px;
    top:80px;
    width:174px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u148 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_line {
    background-image: url('../新增任务_1_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u149 {
    position:absolute;
    left:25px;
    top:1426px;
    width:960px;
    height:10px;
    
}

.u150 {
    position:absolute;
    left:42px;
    top:1446px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:491px;
    top:1282px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

