body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../告警记录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:231px;
    top:126px;
    width:754px;
    height:33px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:39px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../告警记录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:231px;
    top:159px;
    width:754px;
    height:531px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:537px;
}

.u3 {
    position:absolute;
    left:10px;
    top:10px;
    width:734px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../告警记录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:25px;
    top:125px;
    width:178px;
    height:222px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:228px;
}

.u5 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../告警记录_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:25px;
    top:126px;
    width:178px;
    height:39px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u7 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../告警记录_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u8 {
    position:absolute;
    left:25px;
    top:1146px;
    width:960px;
    height:10px;
    
}

.u9 {
    position:absolute;
    left:42px;
    top:1166px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:27px;
    top:174px;
    width:179px;
    height:165px
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u12 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../告警记录_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:40px;
    width:174px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u14 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../告警记录_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:80px;
    width:174px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u16 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../告警记录_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:120px;
    width:174px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u18 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:734px;
    top:700px;
    width:19px;
    height:17px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../告警记录_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:763px;
    top:700px;
    width:19px;
    height:17px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:792px;
    top:700px;
    width:19px;
    height:17px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:821px;
    top:700px;
    width:19px;
    height:17px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u27_container {
    position:absolute;
    left:850px;
    top:700px;
    width:19px;
    height:17px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u29_container {
    position:absolute;
    left:879px;
    top:700px;
    width:19px;
    height:17px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u31_container {
    position:absolute;
    left:908px;
    top:700px;
    width:19px;
    height:17px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u33_container {
    position:absolute;
    left:937px;
    top:700px;
    width:19px;
    height:17px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../告警记录_files/u19_normal.png');
}

.u35_container {
    position:absolute;
    left:966px;
    top:700px;
    width:19px;
    height:17px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u37_container {
    position:absolute;
    left:25px;
    top:63px;
    width:960px;
    height:41px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:47px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:956px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_container {
    position:absolute;
    left:25px;
    top:9px;
    width:280px;
    height:48px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:48px;
}

.u46 {
    position:absolute;
    left:2px;
    top:16px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../告警记录_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:228px;
    top:99px;
    width:12px;
    height:6px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:12px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-5px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:240px;
    top:168px;
    width:744px;
    height:25px
}

.u51_normal {
    background-image: url('../告警记录_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:424px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../告警记录_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:424px;
    top:0px;
    width:166px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../告警记录_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:590px;
    top:0px;
    width:149px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

