body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:25px;
    top:63px;
    width:960px;
    height:41px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:47px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:956px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_container {
    position:absolute;
    left:25px;
    top:9px;
    width:280px;
    height:48px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:48px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的任务_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:144px;
    top:99px;
    width:12px;
    height:6px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:12px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-5px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的任务_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:231px;
    top:126px;
    width:754px;
    height:33px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:39px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:231px;
    top:159px;
    width:754px;
    height:531px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:537px;
}

.u16 {
    position:absolute;
    left:10px;
    top:10px;
    width:734px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../我的任务_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:25px;
    top:125px;
    width:178px;
    height:222px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:228px;
}

.u18 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../我的任务_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:25px;
    top:126px;
    width:178px;
    height:39px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u20 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../我的任务_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u21 {
    position:absolute;
    left:25px;
    top:1146px;
    width:960px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:42px;
    top:1166px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:27px;
    top:174px;
    width:179px;
    height:165px
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u25 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的任务_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:40px;
    width:174px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u27 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../我的任务_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:80px;
    width:174px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u29 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../我的任务_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:120px;
    width:174px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u31 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:734px;
    top:700px;
    width:19px;
    height:17px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我的任务_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:763px;
    top:700px;
    width:19px;
    height:17px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:792px;
    top:700px;
    width:19px;
    height:17px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:821px;
    top:700px;
    width:19px;
    height:17px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:850px;
    top:700px;
    width:19px;
    height:17px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:879px;
    top:700px;
    width:19px;
    height:17px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u44_container {
    position:absolute;
    left:908px;
    top:700px;
    width:19px;
    height:17px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u46_container {
    position:absolute;
    left:937px;
    top:700px;
    width:19px;
    height:17px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../我的任务_files/u32_normal.png');
}

.u48_container {
    position:absolute;
    left:966px;
    top:700px;
    width:19px;
    height:17px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

