body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../全部报告_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:231px;
    top:126px;
    width:754px;
    height:33px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:39px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../全部报告_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:231px;
    top:159px;
    width:754px;
    height:531px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:760px;
    height:537px;
}

.u3 {
    position:absolute;
    left:10px;
    top:10px;
    width:734px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../全部报告_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u4 {
    position:absolute;
    left:25px;
    top:1146px;
    width:960px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:42px;
    top:1166px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:734px;
    top:700px;
    width:19px;
    height:17px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../全部报告_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:763px;
    top:700px;
    width:19px;
    height:17px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:792px;
    top:700px;
    width:19px;
    height:17px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:821px;
    top:700px;
    width:19px;
    height:17px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:850px;
    top:700px;
    width:19px;
    height:17px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:879px;
    top:700px;
    width:19px;
    height:17px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:908px;
    top:700px;
    width:19px;
    height:17px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:937px;
    top:700px;
    width:19px;
    height:17px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../全部报告_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:966px;
    top:700px;
    width:19px;
    height:17px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:23px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../新母版_1_files/u0_normal.png');
}

.u24_container {
    position:absolute;
    left:25px;
    top:63px;
    width:960px;
    height:41px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:47px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:956px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_container {
    position:absolute;
    left:25px;
    top:9px;
    width:280px;
    height:48px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:48px;
}

.u33 {
    position:absolute;
    left:2px;
    top:16px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../全部报告_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:312px;
    top:99px;
    width:12px;
    height:6px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:12px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-5px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:240px;
    top:168px;
    width:744px;
    height:25px
}

.u38_normal {
    background-image: url('../全部报告_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:424px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../全部报告_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:424px;
    top:0px;
    width:166px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../全部报告_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:590px;
    top:0px;
    width:149px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../全部报告_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:25px;
    top:125px;
    width:178px;
    height:222px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:228px;
}

.u45 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../全部报告_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:25px;
    top:126px;
    width:178px;
    height:39px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:45px;
}

.u47 {
    position:absolute;
    left:10px;
    top:10px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:27px;
    top:174px;
    width:179px;
    height:45px
}

.u49_normal {
    background-image: url('../全部报告_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:46px;
}

.u50 {
    position:absolute;
    left:10px;
    top:12px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

